*{margin: 0;
padding: 0;
}
.container{
    width: 1200px;
}
.header{
    background-image: linear-gradient(rgba(255, 255, 255, 0.068), rgb(18, 17, 17)), url("../images/Banner\ Image.png");
    width: 1150px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-position:center;
    background-size: cover;
}
.header p{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    padding-top: 80px;

}
.disconunt{
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.disconunt p{
   font-family: 'Inter', sans-serif;
}
.disconunt h1{
    margin-bottom: 15px;
    color: #FF0000;
}
.discountimage{
    width: 400px;
}
.welcomparty{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(18, 17, 17)), url("../images/Vectorrr.png");
    width: 1150px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-position:center;
    background-size: cover;
    display: flex;
    margin-bottom: 170px;
}

.welcomparty h1{
    color: #FFFFFF;
}
.welcomeleft{
    padding-left: 100px;
    width: 300px;
    align-items: center;
    padding-top: 200px;
}
.welcomeleft h1{
    margin-bottom: 20px;
}
.welcomeleft p{
    color: #FFFFFF;
    margin-bottom: 20px;
}
.welcomeright{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.welcomeright img{
    margin-top: 300px;
}
.booking{
    width: 1150px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(rgb(236, 177, 177), rgb(212, 204, 199));

}
.bookingdiv{
    padding:170px 0px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}
.join_now{
    background-color: #FF0000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}
.commingsoon{
    width: 1150px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
}
.commingleft{
    width: 500px;

    padding-top: 100px;
}
.commingleft h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 10px;
}
.commingleft p{
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}
.commingright{
    width: 400px;
    padding-left: 100px;
    padding-top: 100px;
}
.commingright h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 10px;
}
.commingright p{
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}
.commingcenter{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.commingcenter img{
    border: 5px solid #FF0000;
    border-radius:100%;
}
.discount{
    width: 1150px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.discountop{
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.discountbottomleft{
    display: flex;
    width: 1100px;
}
.discountbottomleft img{
    width: 422px;
    margin-left: auto;
    margin-right: auto;
}
.discounlefttbottom img{
    width: 1150px;;
    margin-left: auto;
    margin-right: auto;
}
.discountbottom{
    margin-top: 50px;
}
.portfolio{
    width: 1150px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.portfoliodiv{
    width: 70%;
}
.portfolio_bottom{
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
.portfolio_bottom img{
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}
.portfolio_bottom img{
    padding-left: 10px;
}

.subscriber{
    width: 1150px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(rgb(236, 177, 177), rgb(212, 204, 199));
    margin-top: 600px;
}
.subcriberdiv{
    padding: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.subcriberdiv img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buttonsubscriber{
  padding: 10px;
  border-top-right-radius:50px;
  border-bottom-right-radius: 50px;
  background-color: #FF0000;
  border: none;
}
input{
    padding: 10px;
}